.task {
  width: inherit;
  min-height: 50px;
  background: #41644F;
  display: block;
  margin: 2% 0;
  padding: 2%;
}

.task-content-wrapper {
  height: 100%;
  display: block;
}

.task-delete-btn {
  min-width: 30px;
  min-height: 30px;
  background-color: #1F3628;
  color: #e7dede;
  display: inline-block;
  float: right;
  font-weight: bold;
  border: 0;
  padding: 0;
}

.task-delete-btn:hover {
  background-color: #6C997E;
}

.task-text {
  width: 80%;
  display: inline-block;
  line-height: 1.6em;
  text-align: left;
  word-break: break-all;
}
